NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
BACKEND_INTERNAL_URL=http://host.docker.internal:8080

# JFrog Artifactory Docker Registry
# O host PyPI (/artifactory/api/pypi/...) não deve ser usado para imagens Docker.
JFROG_REGISTRY=jfrog.petrobras.dev.br
JFROG_DOCKER_REPOSITORY=informar-repositorio-docker
IMAGE_TAG=local
# Usados somente no login local; nunca versione credenciais.
JFROG_USER=
JFROG_TOKEN=
